<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This is the home page</h1>

    <!-- <%= %> is used to output the result of a JavaScript expression -->
    <h2> <%= 1 + 2 %> </h2>
    <h2> <%= "Hello, " + "World!" %> </h2>
    <h2> <%= "Swarajvecha".toUpperCase() %></h2>
    <h2> <%= ["Swaraj","Vecha","Lucky"][0] %></h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam alias assumenda aperiam fugiat nobis unde,
        optio possimus suscipit ipsa velit excepturi numquam doloribus illo harum totam quam repudiandae ex, ratione
        nostrum quae labore ab. Sequi magni fugit ex voluptatum recusandae officia officiis maxime minus, odit quae
        corrupti eveniet architecto consectetur.</p>
    <button>Click Me!</button>
</body>

</html>